{% extends "base.html" %} 
{% block content %} 

<h1 style="text-align: center;">{{ dj.name }}:</h1>
<a href="/djs/{{ dj.id }}/edit">Edit</a>
<hr/>

<div class="mix-container">
{% for mix in mixes %}
<div class="mix">

  <div>
    <p>{{ mix.title }}</p>
    <p><a style="color:{{ mix.genre.color }}" href="/genres/{{ mix.genre.id }}">{{ mix.genre.name }}</a></p>
  </div>
  
  <div class="centered">
    <a href="/mixes/{{ mix.id }}"><img src="/static/img/mix/{{ mix.mix_img }}" alt="{{ mix.title }}" width="200" height="200"/></a>
  </div>

</div>
{% endfor %}
</div>

<hr/>
<a href="/mixes/new">Add Mix</a>

{% endblock %}