{% extends "base.html" %} 
{% block content %} 

<h1 style="text-align: center;">My Source:</h1>
<hr/>

<div class="mix-container">
{% for mix in mixes %} 
  <div class="mix">

    <div>
      <p>{{ mix.title }}</p>
      <p><a style="color:black" href="/djs/{{ mix.dj.id }}">{{ mix.dj.name }}</a></p>
      <p><a style="color:{{ mix.genre.color }}" href="/genres/{{ mix.genre.id }}">{{ mix.genre.name }}</a></p>
    </div>
    
    <div class="centered">
      <a href="/mixes/{{ mix.id }}"><img src="/static/img/mix/{{ mix.mix_img }}" alt="{{ mix.title }}" width="200" height="200"/></a>
    </div>

    <div>
      <form action="/mysource/{{ mix.id }}/delete" method="POST">
        <button>delete</button>
      </form>
    </div>

  </div>
{% endfor %} 
</div>

{% endblock %}