{% extends "base.html" %} 
{% block content %} 

<div class="mix-container">
{% for mix in mixes %} 
  <div class="mix">

    <div>
      <p>{{ mix.title }}</p>
      <p><a style="color:{{ mix.genre.color }}" href="/genres/{{ mix.genre.id }}">{{ mix.genre.name }}</p>  <!-- genre color theme continued -->
    </div>

    <div class="centered">
      <a href="/mixes/{{ mix.id }}"><img src="static/img/mix/{{ mix.mix_img }}" alt="{{ mix.title }}" width="200" height="200"/></a>
    </div>

  </div>
{% endfor %} 
</div>

<a href="/mixes/new">Add New Mix</a>

{% endblock %}