{% extends "base.html" %} 
{% block content %} 

{% for mix in mixes %} 
  <hr/>
  <div>

    <div>
      <a href="/mixes/{{ mix.id }}">{{ mix.title }}</a>
      <p>{{ mix.dj.name }}</p>
      <p>({{ mix.genre.name }})</p>
    </div>
    
    <a href="{{ mix.audio_link }}">-->soundcloud</a> <!-- format better -->

    <div>
      <img src="static/img/mix/{{ mix.mix_img }}" alt="{{ mix.title }}" width="100" height="100" />
    </div>

    <div>
      <img src="static/img/tracklist/{{ mix.tracklist_img }}" alt="tracklist" width="100" height="100" />
    </div>

    <div>
      <form action="/mixes/{{ mix.id }}/delete" method="POST">
        <button>delete</button>
      </form>
    </div>

  </div>
{% endfor %} 
<hr/>
<a href="/mixes/new">Add Mix</a>

{% endblock %}