{% extends "base.html" %} 
{% block content %} 

<div class="mix-container">
{% for mix in mixes %} 
  <div class="mix">

    <div class="centered">
      <a href="/mixes/{{ mix.id }}">{{ mix.title }}</a>
      <p style="color:{{ mix.genre.color }}">({{ mix.genre.name }})</p>  <!-- genre color theme continued -->
    </div>

    <div class="centered">
      <img src="static/img/mix/{{ mix.mix_img }}" alt="{{ mix.title }}" width="100" height="100" />
    </div>

  </div>
{% endfor %} 
</div>
<hr/>
<a href="/mixes/new">Add Mix</a>

{% endblock %}