{% extends "base.html" %} 
{% block content %} 

<div class="form-container">
<form action="/mixes" method="POST">

  <div class="form-row">
    <label for="title">Title:</label>
    <input id="title" name="title" type="text" required>
  </div>

  <div class="form-row">
    <label for="description">Description:</label>
    <input id="description" name="description" type="text" required>
  </div>

  <div class="form-row">
    <label for="mix_img">Mix Image Name:</label>
    <input id="mix_img" name="mix_img" type="text" required>
  </div>

  <div class="form-row">
    <label for="tracklist_img">Tracklist Image Name:</label>
    <input id="tracklist_img" name="tracklist_img" type="text" required>
  </div>

  <div class="form-row"> 
    <label for="genre_tags">Genre Tags:</label>
    <input id="genre_tags" name="genre_tags" placeholder="seperate with commas, no spaces" type="text">
  </div>

  <div class="form-row">
    <label for="genre">Primary Genre Tag:</label>
    <select id="genre" name="genre_id">
      {% for genre in genres %}
        <option value="{{ genre.id }}">{{ genre.name }}</option>
      {% endfor %}
    </select>
    <a href="/genres/new">Add New Genre</a>
  </div>

  <div class="form-row">
    <label for="audio_link">Audio Link:</label>
    <input id="audio_link" name="audio_link" placeholder="soundcloud link" type="text">
  </div>

  <div class="form-row">
    <label for="dj">DJ:</label>
    <select id="dj" name="dj_id">
      {% for dj in djs %} 
        <option value="{{ dj.id }}">{{ dj.name }}</option>
      {% endfor %} 
    </select>
    <a href="/djs/new">Add New DJ</a>
  </div>

  <button type="submit">Submit</button>

</form>
</div>

{% endblock %}