{% extends "base.html" %} 
{% block content %} 

{% set genre_tags = mix.genre_tags.split(",") %}

<div>
  <h1>{{ mix.title }} | {{ mix.dj.name }}</h1>
  <hr/>
  <p>{{ mix.description }}</p>
  <p><i>--{% for genre_tag in genre_tags %}{% if loop.index == loop.length %}{{ genre_tag }}{% else %}{{ genre_tag }}, {% endif %}{% endfor %}--</i></p>
</div>

<a href="{{ mix.audio_link }}">
  <button type="button">LISTEN</button> <!--make this a play symbol-->
  <span>mmarz - {{mix.title}} | {{ mix.dj.name }}</span>
</a> <!-- format better -->

<form action="/mysource/{{ mix.id }}" method="POST"> <!-- I want this button to update mysource to true -->
  <button type="submit">Add to MySource</button>
</form>

<div>
  <img src="/static/img/mix/{{ mix.mix_img }}" alt="{{ mix.title }}" width="500" height="500" />
  <img src="/static/img/tracklist/{{ mix.tracklist_img }}" alt="tracklist" width="500" height="500" />
</div>

<div>
  <a href="/mixes/{{ mix.id }}/edit">Edit</a>
</div>

{% endblock %}