{% extends "base.html" %} 
{% block content %} 

{% set genres = mix.genres.split(",") %}

<div>
  <h1>{{ mix.dj.name }} - {{ mix.title }}</h1>
  <hr/>
  <p>{{ mix.description }}</p>
  <p>{% for genre in genres %}{% if loop.index == loop.length %}{{ genre }}{% else %}{{ genre }}, {% endif %}{% endfor %}</p>
</div>

<div>
  <img src="/static/img/mix/{{ mix.mix_img }}" alt="{{ mix.title }}" width="500" height="500" />
</div>
<div>
  <img src="/static/img/tracklist/{{ mix.tracklist_img }}" alt="tracklist" width="500" height="500" />
</div>

<div>
  <a href="/mixes/{{ mix.id }}/edit">Edit</a>
</div>

{% endblock %}