{% extends "base.html" %} 
{% block content %} 

{% set genre_tags = mix.genre_tags.split(",") %}

<div>
  <h1>{{ mix.dj.name }} - {{ mix.title }}</h1>
  <hr/>
  <p>{{ mix.description }}</p>
  <p>--{% for genre_tag in genre_tags %}{% if loop.index == loop.length %}{{ genre_tag }}{% else %}{{ genre_tag }}, {% endif %}{% endfor %}--</p>
</div>

<a href="{{ mix.audio_link }}">>>SOUNDCLOUD<<</a> <!-- format better -->

<div>
  <img src="/static/img/mix/{{ mix.mix_img }}" alt="{{ mix.title }}" width="500" height="500" />
</div>
<div>
  <img src="/static/img/tracklist/{{ mix.tracklist_img }}" alt="tracklist" width="500" height="500" />
</div>

<div>
  <a href="/mixes/{{ mix.id }}/edit">Edit</a>
</div>

{% endblock %}