header {
  background-color:#373636;
  color:whitesmoke;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

body {
  font-family: monospace;
  list-style-type: none;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin:0;
  padding:0;
  /* flex-direction: row; */
  /* justify-content: center; */
}
  #menu li {
    list-style: none;
    float:right;
  }
  #menu li:first-child {
    margin-right: auto;
    float:left;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
  }
  #menu li a {
    margin: 2px;
    background-color: thistle;
    display: block;
    padding: 15px;
    text-decoration: none;
  }
  #menu li a:hover {
    color: black;
    background-color: whitesmoke;
  }

#genre-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#genre-tile {
  color:black;
  display: block;
  font-size: large;
  border: 1px solid black;
  min-height: 100px;
  min-width: 200px;
  margin: 10px;
  padding-top: 20px;
  text-align: center;
  text-decoration: none;  /* gets rid of the underline on the link text */
}
#genre-tile:hover {
  background-color: whitesmoke;
  font-size: medium;
}

footer {
  background-color:#373636;
  color: whitesmoke;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}
footer a {
  color:whitesmoke;
}