<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SoundSource</title>
  <!-- links to style sheets -->
  <script src="https://kit.fontawesome.com/821e39b1b1.js" crossorigin="anonymous"></script> 
  <link rel="stylesheet" href='https://fonts.googleapis.com/css?family=Chango'>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <nav>
      <ul id="menu">
        <!-- navbar menu links -->
        <li><a style="font-size:x-large" href="/">SoundSource</a></li>  <!-- style this uniquely -->
        <li><a href="/mixes">Mixes</a></li>
        <li><a href="/djs">Sources</a></li>
        <li><a href="/mysource">MySource</a></li>
      </ul>
    </nav>
  </header>
  {% block content %}
  {% endblock %}
  <footer>featuring mixes and artwork by <a href="https://mmarzmix.com">MMARZ</a></footer>
</body>
</html>